
html, body {
    height: 100%;
}

.content-root {
    height: calc(100% - 72px);
    padding-top: 36px;
}

div.home-nav-card {
    margin: 24px;
}

img.home-nav-card {
    height: 222px;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #F2F2F2;
}
